@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');


* {

  font-family: 'Open Sans', sans-serif;
}

@import "variables";


header {
  background-color: $color-primary;

  .logo {
    a {
      text-decoration: none;
    }
  }

  .itens {

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        list-style: none;
        margin-right: 5px;

        .nav-link {
          padding: 8px 32px;
          text-decoration: none;

          &:hover {
            background-color: $color-white;
            color: $color-primary;
          }
        }

        .active {
          background-color: $color-white;
          color: $color-primary;
        }
      }
    }
  }
}

main {
  .oq_fazemos {
    .services {
      display: flex;
      justify-content: space-evenly;

      .btn-service {
        display: block;
        height: 130px;
        width: 130px;
        padding: 20px;
        border: solid 1px black;
        cursor: pointer;

        &:hover {
          background-color: darken(#FFF, 10%);
        }

        img {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  .qm_somos {
    .toggle_text {
      color: $color-primary;
      cursor: pointer;
      font-weight: 900;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .has_error {
    color: red;
    font-size: 13px;
    padding-left: 15px;
  }

  form {
    width: 100%;
    padding: 15px;
    border-radius: 15px;

    label {
      margin-top: 2px;
      font-size: 15px;
      color: #666;
    }

    .inputUser {
      display: flex;
      justify-content: end;
      border-radius: 5px;
      padding: 5px;
      width: 100%;
      margin: 5px;
      border: solid 1px #cecece;
    }

    .with-errors {
      display: none;
      color: red;
      font-size: 13px;
    }
  }
}

footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;

  .modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;

    .modal-header {
      h1 {
        font-weight: bold;
        text-align: center;
      }
    }

    .modal-header, .modal-body, .modal-footer {
      padding: 10px;
    }

    .modal-header {
      background-color: #ccc;
    }

    .modal-footer {
      background-color: #ccc;
    }
  }
}